body {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    max-width: 1020px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}

#fields-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    width: 60%;
}

.field {
    background-color: rgb(26, 26, 26);
    display: inline-block;
    width: 7%;
    min-height: 34px;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
    border-color: rgb(49, 49, 49);
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.matched {
    border-color: #00db71;
    background-color: #00db7175;
}